@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #a8ff73;
  --secondary-color: #222;
  --bg-color: #f3f1e5;
  --bg-gradient: linear-gradient(
    90deg,
    #a8ff73 0%,
    rgba(214, 246, 184, 0.441355) 99.99%,
    rgba(243, 241, 229, 0.08) 100%
  );
}

/* Base styles */
* {
  outline: none;
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  font-family: 'Inter', sans-serif;
  color: var(--secondary-color);
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary-color);
  }
  .bg-secondary {
    background-color: var(--secondary-color);
  }
  .bg-gradient {
    background: var(--bg-gradient);
  }
  .text-primary {
    color: var(--primary-color);
  }
  .text-secondary {
    color: var(--secondary-color);
  }

  /* Custom utilities */
  .fx-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fx-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fx-column {
    display: flex;
    flex-direction: column;
  }

  .heading-4 {
    font-weight: 500;
    border-bottom: 1px solid #000;
    padding: 0.75rem 1.375rem;
    @apply md:text-lg;
  }

  .heading-3 {
    font-size: clamp(1.625rem, 1.4167rem + 0.6667vw, 2rem);
    font-weight: 500;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid #9c9c9c;
  }

  .btn {
    width: fit-content;
    padding: 6px 18px;
    border-radius: 5px;
    @apply select-none cursor-pointer transition-all hover:opacity-85;
  }
}

/* Other styles */

/* FORM */
form .category {
  margin-bottom: 14px;
}

form .category h6 {
  border-bottom: 1px solid rgb(20, 20, 20);
  @apply py-3 mb-9 font-semibold capitalize;
}

.formSection {
  @apply grid md:grid-cols-2 gap-x-5;
}

.inputBox {
  @apply h-fit border rounded-md border-gray-400 bg-gray-50 shadow-md mb-5;
}

.inputBox label {
  @apply block p-3 px-3 border-b font-medium border-gray-400 capitalize;
}

.inputBox .inputBox__inner {
  font-size: 14px;
  @apply p-1 py-2 text-gray-500;
}
